.cluster {
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: var(--teal-accent) 0.2rem solid;
    outline: var(--light-teal-accent) 0.2rem solid;
    outline-offset: 0.2rem;
}

.number {
    margin: 0;
    text-align: center;
    width: 1.25rem;
    line-height: 1.25rem;
    margin: 0.375rem;
    color: var(--teal-accent);
    font-size: 24px;
    font-weight: bold;
}

.popupList {
    display: none;
    transform: translate(8%, -110%);
    width: 32rem;
    box-sizing: border-box;
    font-family: Sen, sans-serif;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.cluster:hover .popupList {
    display: flex;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.picker {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    background-color: var(--tan-background);
    z-index: 11;
    border-radius: 2rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: var(--teal-accent) 5px solid;
}

.pickerText {
    grid-column: 1 / 4;
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
}

.userOption {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 20px;
    font-weight: bold;
    color: var(--teal-accent);
}
