.map {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.leftContainer {
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: min-content;
    max-height: 100vh;
    width: 30vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.navButton {
    font-family: inherit;
    font-size: 24px;
    background-color: var(--tan-background);
    color: var(--teal-accent);
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.hideLocationContainer {
    position: fixed;
    right: 0;
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 15rem;
}

.radiusContainer {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 25rem;
}

.sliderContainer {
    width: 100%;
    height: 4rem;
}

.sliderLabel {
    text-align: center;
    background-color: var(--teal-accent);
    border-radius: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

.sliderTitle {
    color: var(--alt-text-color);
    font-size: 20px;
    margin: 0;
}

.sliderLabelText {
    color: var(--alt-text-color);
    margin-bottom: 0;
}

.loadingContainer {
    margin: 2rem 5rem;
}
