.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.5);
    z-index: 10;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: var(--tan-background);
    z-index: 11;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.pronouns {
    font-size: 20px;
    font-weight: bold;
    color: var(--teal-accent);
    margin: 0;
}

.academicInfo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}

.major,
.year {
    font-size: 20px;
    margin: 0;
}

.interestsContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    font-size: 20px;
    color: var(--teal-accent);
    height: fit-content;
}

.interest {
    margin: 0;
    border-radius: 1rem;
    border: var(--teal-accent) 1px solid;
    padding: 0.25rem 1rem;
}

.bio {
    font-size: 20px;
    margin: 0;
}

.bar {
    width: 100%;
    height: 0px;
    border: var(--teal-accent) 0.5px inset;
}

.infoContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
}

.infoText {
    font-size: 20px;
    margin: 0;
    color: var(--teal-accent);
}

.actionsContainer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.button {
    font-family: inherit;
    background-color: transparent;
    border: var(--teal-accent) 2px solid;
    color: var(--teal-accent);
    font-size: 20px;
    width: 100%;
    padding: 0.75rem 0;
    box-sizing: border-box;
    border-radius: 2rem;
    transition: background-color 0.25s ease;
}

.button:hover {
    color: white;
    background-color: var(--teal-accent);
}

.input {
    font-family: inherit;
    color: inherit;
    padding: 0.75rem 1.25rem;
    border: var(--teal-accent) 2px solid;
    border-radius: 2rem;
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    background-color: var(--alt-background);
}

.input:focus-visible {
    outline: none;
}

.sendButton {
    background-color: var(--teal-accent);
    border: none;
    padding: 0.9rem 1rem;
    border-radius: 100%;
}
