.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.5);
    z-index: 10;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

.modal {
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: var(--tan-background);
    z-index: 11;
    border-radius: 2rem;
}
