.friendInfo {
    color: var(--teal-accent);
    font-size: 18px;
    position: relative;
    width: 100%;
}

.friendInfo:hover .pathPopup {
    display: flex;
}

.pathNode {
    margin: 0;
}

.pathEnd {
    margin: 0;
    font-weight: bold;
}

.pathPopup {
    display: none;
    position: absolute;
    top: 0;
    transform: translateY(-125%);
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--teal-accent);
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 2rem;
    width: 100%;
}
