.profilePopup {
    display: flex;
    width: 100%;
    background-color: var(--tan-background);
    border-radius: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    font-family: Sen, sans-serif;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.profileTitle {
    font-family: inherit;
    font-size: 24px;
    margin: 0;
}

.profilePronouns {
    font-size: 18px;
    font-weight: bold;
    color: var(--teal-accent);
    margin: 0;
}

.profileMajor {
    font-size: 18px;
    margin: 0;
}

.interestsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 18px;
    color: var(--teal-accent);
}

.profileInterest {
    margin: 0;
    border-radius: 1rem;
    border: var(--teal-accent) 1px solid;
    padding: 0.25rem 1rem;
}
